body{
    background-color: black;
    font-size: 11px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color: white;
    
}

a{
    color: hsl(228, 45%, 44%);
}

#container-main{
    display: flex;
    align-items: center;
}
#card{
    background-color: rgb(40, 33, 88);
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-radius:1%;
}
.benefits .h3{
    margin: 0px 0px;
}

img{
    height: 300px;
    width: 325px;
    /* background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;*/
    justify-self: flex-end;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}
.highlight{
    color: rgb(187, 0, 187);
}

.benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column{
    margin: 5 10;
}