body{
    background-color: hsl(233, 47%, 7%);
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    /* text-align: center; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

a{
    color: hsl(228, 45%, 44%);
}

#container-main{
    display: flex;
    justify-content: center;
}
#card{
    /* width: 50%; */
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-self: center;
    border-radius:1%;
}
.column h2{
    margin-block-end: 0;
}

img, .cont2{
    height: 350px;
    width: 450px;
}

img{
    order: 2;
    opacity: .5;
}
.cont1{
    justify-self: flex-end;
    order: 5;
    background-color: rgb(87, 3, 136);
}

.cont2{
    background-color: hsl(244, 38%, 16%);
}

.cont2 h1 {
    margin: 2em 2em 0 2em;
    line-height: 1.2;
}

.cont2 .blurb{
    color: #b4b4b9;
    margin: 1.5em 4em 0 4em;
    line-height: 1.7;
}

.container{
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
.highlight{
    color: hsl(277, 64%, 61%);
}

.benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4.5em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.column p{
    color: #b4b4b9;
    margin: 0;
    font-size: .7rem;
    font-weight: 300;
}




.column{
    margin: 5 10;
    justify-content: left;
}

@media screen and (max-width: 931px){
    img, .cont2{
        height: 200px;
        width: 300px;
    }
    
    .cont1{
        order: 1;
    }

    .benefits{
        flex-direction: column;
        padding: auto;
        align-self: center;
        margin-top: 0;
    }

    .cont2{
        height: fit-content;
        text-align: center;
    }

    .cont2 h1 {
        margin: 1em 1em .5em 1em;
    }

    .cont2 .blurb{

        margin: 1em 2em 1em 2em;
    }

    #card{
        flex-direction: column-reverse;
    }
}

.attribution{
    text-align: center;
}